<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platform</title>

    <link rel="stylesheet" th:href="@{styles/common.css}">
</head>

<body>
<nav class="menu">
    <ul>
        <li><a th:href="@{/platforms}">Platform</a></li>
        <li><a th:href="@{/genres}">Genres</a></li>
        <li><a th:href="@{/games}">Computer Games</a></li>
    </ul>
</nav>

<div class="content-wrapper">
    <h1>Computer games</h1>

    <a th:href="@{/add-game}">
        <button id="addGameBtn"> Add new game</button>
    </a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Publisher</th>
            <th>Release year</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Platform</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${allGames}">
            <td th:utext="${game.gameId}">..</td>
            <td th:utext="${game.name}">..</td>
            <td th:utext="${game.publisher}">..</td>
            <td th:utext="${game.releaseYear}">..</td>
            <td th:utext="${game.genreId}">..</td>
            <td th:utext="${game.price}">..</td>
            <td th:utext="${game.platformId}">..</td>
            <td>
                <div class="action-dropdown">
                    <button class="dropbtn">Actions</button>
                    <div class="dropdown-content">
                        <form th:action="@{/update-game/{gameId}(gameId = ${game.gameId})}"
                              th:method="get">
                            <button class="editBtn">Edit</button>
                        </form>
                        <form th:action="@{/delete-game/{gameId}(gameId = ${game.gameId})}"
                              th:method="delete">
                            <button class="deleteBtn">Delete</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>